[Desktop Entry]
Name=dwm
Comment=Highly configurable framework window manager
TryExec=dwm
Exec=dwm
Type=Application
Icon=/usr/share/pixmaps/dwm.png
Keywords=Window manager
